@keyframes cool-doge {
  0% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(-2px, -2px);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  padding: 20px 22px 15px;

  --colorTextPrimary: #fff;
  --colorTextSecondary: #931bf1;
  --colorTextTertiary: #ffb904;
  --colorBackgroundContent: #212932;
  --colorInactive: #989898;
  --colorVignette: #000;
}

.popup_active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.endgame {
  z-index: 202;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: beat 1s infinite;
}

.endgame__cool-doge {
  width: 26px;
  height: 26px;
  margin: 0 15px;
  background-image: url(../img/cool-doge.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: cool-doge 0.5s infinite;
}

.endgame_victory {
  background-color: rgba(0, 0, 0, 0.7);
}

.endgame__heading {
  margin: 0 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.endgame__heading_victory {
  color: var(--colorTextTertiary);
}

.endgame__wrapper {
  display: flex;
}

.endgame__text {
  margin: 0 0 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  color: var(--colorTextPrimary);
}

.endgame__button {
  display: block;
  width: 100%;
  max-width: 200px;
  height: 60px;
  margin: 0 auto 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  color: var(--colorTextPrimary);
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--colorTextPrimary);
  outline: none;
  padding: 0;
  transition: color 0.3s linear, border-color 0.3s linear;
  cursor: pointer;
}
